- @title = "Trips"
- content_for :header do
  = link_to "About", "/about", :'data-icon' => 'info'
  = link_to "Add", new_trip_path, :'data-icon' => 'add'        

%ul{"data-role" => "listview"}
  = render @trips
