<div id="login" data-role="page" >
  <div data-role="header" data-theme='b'>
    <a href='/about' data-icon="info">About</a>
    <h1>Sign Up</h1>
  </div> 
  <div data-role="content">
    <h3>Sign Up</h3>
    <p>You can setup your MyTrip using:</p>
    <a href="/auth/twitter" rel="external" data-role="button">via Twitter</a>
    <a href="/auth/github" rel="external" data-role="button">via Github</a>
    <a href="/auth/facebook" rel="external" data-role="button">via Facebook</a>
    <a href="/auth/linked_in" rel="external" data-role="button">via LinkedIn</a>

  </div> 
</div>   
