- @title = 'Sign In'
%p You can sign in to MyTripApp using:
%a{"data-role" => "button", :href => "/auth/twitter", :rel => "external"} via Twitter
%a{"data-role" => "button", :href => "/auth/github", :rel => "external"} via Github
%a{"data-role" => "button", :href => "/auth/facebook", :rel => "external"} via Facebook
%a{"data-role" => "button", :href => "/auth/linked_in", :rel => "external"} via LinkedIn