#new{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 New Trip Detail
  %div{"data-role" => "content"}
    = render :partial => 'form'
  %div{"data-role" => "footer", "data-theme" => "e"}
    %center Jack Russell Software Company, LLC